body{
	background: black;
}

.earth{
	/*position: fixed;*/
	margin: 0 auto;
	width: 784px;
	height: 784px;
	}

	.earth .stage{
		display: none;
	}

	.earth .base{
		position: relative;
		width: 10px;
		height: 10px;
		background: white;
		cursor:pointer;
		/*opacity: 0;*/
		
	}

.controls{
	color:white;
	cursor:pointer;
	float:left;
}

